<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Cache-Control" content="max-age=0" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-store" />
        <meta http-equiv="Cache-Control" content="must-revalidate" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>